<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="0ec6f59d-1444-4ce0-9e16-bdb5f00d079a" Publisher="CN=eielh_000" Version="1.0.0.0" />
  <Properties>
    <DisplayName>WorldWatch</DisplayName>
    <PublisherDisplayName>eielh_000</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="WorldWatch.App">
      <VisualElements DisplayName="WorldWatch" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="WorldWatch" ForegroundText="light" BackgroundColor="#0942ac">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
</Package>